[phases.setup]
nixPkgs = ["python39", "python39Packages.pip"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r backend/requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "cd backend && uvicorn app:app --host 0.0.0.0 --port $PORT"
